<!DOCTYPE html>
<html lang="en">
     <head>
          <meta charset="UTF-8" />
          <meta
               name="viewport"
               content="width=device-width, initial-scale=1.0"
          />
          <meta http-equiv="X-UA-Compatible" content="ie=edge" />
          <title>Home</title>
     </head>
     <body>
          <h1>Home Page</h1>
          <h5>Welcomme!</h5>
          <p>
               Lorem ipsum dolor sit amet, consectetur adipisicing elit.
               Excepturi, culpa. Dignissimos autem explicabo obcaecati similique
               iste dolor hic vitae facere, architecto quae ipsum numquam ipsa
               soluta consequuntur cupiditate doloremque cumque?
          </p>
     </body>
</html>
